fastapi
uvicorn[standard]
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
supabase
python-dotenv
langchain==0.3.27
langchain-community
langchain-google-genai
langchain-core
langgraph
google-generativeai
numpy
pandas
openpyxl
pypdf
python-docx
python-multipart
reportlab
markdown2
tavily-python
duckduckgo-search
requests
